.container {
  max-width: 120rem;
  margin: 2rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    align-items: center;
    text-align: center;
    border-top: var(--line);
    border-bottom: var(--line);
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 2rem;
  }
}

.about__us {
  font-family: 'Great Vibes', cursive;
  color: rgb(218, 165, 32);
  text-align: center;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 2rem;
}

.items {
  max-width: 120rem;
  margin: .7rem auto;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation: moveInRight 1s ease-out;
  &>.item__card {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    height: 50rem;
    width: 37rem;
    text-align: center;
    @media only screen and (max-width: 1186px) {
      width: 36rem;
    }
    @media only screen and (max-width: 1159px) {
      width: 35rem;
    }
    @media only screen and (max-width: 1125px) {
      width: 34rem;
    }
    @media only screen and (max-width: 1092px) {
      width: 51rem;
    }
    @media only screen and (max-width: 1075px) {
      width: 50rem;
    }
    @media only screen and (max-width: 1055px) {
      width: 49rem;
    }
    @media only screen and (max-width: 1035px) {
      width: 48rem;
    }
    @media only screen and (max-width: 1015px) {
      width: 47rem;
    }
    @media only screen and (max-width: 976px) {
      width: 46rem;
    }
    @media only screen and (max-width: 975px) {
      width: 45rem;
    }
    @media only screen and (max-width: 955px) {
      width: 44rem;
    }
    @media only screen and (max-width: 935px) {
      width: 43rem;
    }
    @media only screen and (max-width: 914px) {
      width: 42rem;
    }
    @media only screen and (max-width: 910px) {
      width: 41rem;
    }
    @media only screen and (max-width: 875px) {
      width: 40rem;
    }
    @media only screen and (max-width: 855px) {
      width: 39rem;
    }
    @media only screen and (max-width: 852px) {
      width: 38rem;
    }
    @media only screen and (max-width: 815px) {
      width: 37rem;
    }
    @media only screen and (max-width: 795px) {
      width: 36rem;
    }
    @media only screen and (max-width: 775px) {
      width: 35rem;
    }
    @media only screen and (max-width: 770px) {
      width: 34rem;
    }
    @media only screen and (max-width: 735px) {
      width: 50rem;
    }
  }
}